<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>{% block title%}{% endblock %}</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
        </script>
        <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer>
        </script>
        <script>
            function start() {
              gapi.load('auth2', function() {
                auth2 = gapi.auth2.init({
                  client_id: '727841598472-277i5jci9jeqc93bsfo659ou743msm6e.apps.googleusercontent.com',
                  // Scopes to request in addition to 'profile' and 'email'
                  //scope: 'additional_scope'
                });
              });
            }
          </script>
        
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{ url_for('homepage') }}">Toy Catalog</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    {% for c in all_categories %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('category', category_id=c.id) }}">{{ c.category_name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <button type="button" class="btn btn-link float-right"><a href="{{ url_for('showLogin') }}">Sign In</a></button>

        </nav>

        <div class="jumbotron">
            {% block jumbotron %}{% endblock %}
        </div>

        <div class="container">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="row">
                    <div class="alert alert-success" role="alert">
                        <h4 class="alert-heading">Congratulations!</h4>
                        <hr>
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
                {% endwith %}
            {% block breadcrumb %}{% endblock %}
            {% block content %}{% endblock %}
        </div>

        <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
		
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        {% if route=='login' %}
        <script>
            function signInCallback(authResult) {
              if (authResult['code']) {
            
                // Hide the sign-in button now that the user is authorized, for example:
                $('#signinButton').attr('style', 'display: none');
            
                // Send the code to the server
                $.ajax({
                  type: 'POST',
                  url: '/googleconnect?state={{STATE}}',
                  // Always include an `X-Requested-With` header in every AJAX request,
                  // to protect against CSRF attacks.
                  headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                  },
                  contentType: 'application/octet-stream; charset=utf-8',
                  success: function(result) {
                    // Handle or verify the server response.
                    if (result) {
                        $('#result').html('Login successful</br>' + result + '</br>Redirecting now...')
                        setTimeout(function() {
                            window.location.href = "http://localhost:5000";
                        }, 4000);
                    } else if (authResult['error']) {
                        console.log('There was an error: ' + authResult['error']);
                    }
                  },
                  processData: false,
                  data: authResult['code']
                });
              } else {
                // There was an error.
                $('#result').html('Failed to make a server-side call. Check your configuration and console.');
              }
            }
        </script>
            
        {% endif %}
          
    </body>
</html>
