{% extends 'base.html' %}

{% block title %}Toy Catalog App{% endblock %}
{% block jumbotron %}
    <h1>Welcome to the Toy Catalog</h1>
    <p>Please navigate to specific categories using the links above or choose an individual item from the selection below below.</p>
{% endblock %}

{% block content %}
    {% for row in all_items|batch(3,'') %}
    <div class="row d-flex align-items-stretch">
        {% for item in row %}
            {# Test whether actual item from database or blank #}
            {% if item %}
                <div class="col-sm py-2">
                    <div class="card h-100">
                        <h5 class="card-header">{{ item.item_name }}</h5>
                        <div class="card-body d-flex flex-column">
                            <p class="card-text">{{ item.item_description|truncate(100,True) }}</p>
                            <a href="{{ url_for('item', category_id=item.category_id, id=item.id)}}" class="btn btn-primary mt-auto w-50">View Item</a>
                        </div>
                    </div>
                </div>
            {# Create blank column if not actual item to keep even column spacing intact #}
            {% else %}
                <div class="col-sm"></div>
            {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
{% endblock %}