{% extends 'base.html' %}

{% block title %}{{ item.item_name }}{% endblock %}
{% block jumbotron %}
<h1>{{ item.item_name }}</h1>
{% endblock %}
{% block breadcrumb %}
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent">
                <li class="breadcrumb-item"><a href="{{ url_for('homepage') }}">Home</a></li>
                <li class="breadcrumb-item"><a href="{{ url_for('category', category_id=category.id) }}">{{ category.category_name }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ item.item_name }}</li>
            </ol>
        </nav>
    </div>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="card">
            <div class="card-header">
                Item Description
            </div>
            <div class="card-body">
                <p class="card-text">{{ item.item_description }}</p>
            </div>
        </div>
    </div>
{% endblock %}